<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

    <mat-form-field>
      <input
      matInput
      type="email"
      name="email" ngModel
      required email
      placeholder="E-mail" #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">Please Enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="password"
      name="password" ngModel
      required password
      placeholder="Password" #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Please Enter a valid password</mat-error>
    </mat-form-field>

    <button mat-button
    type="submit">Login</button>
  </form>
</mat-card>
