
mat-form-field, textarea{
  width: 100%;
}
button{
  color: rgb(254, 254, 254);
  border-radius: 2px rgb(153, 97, 51);
  background-color: rgb(44, 95, 130);
}


mat-spinner{
  margin: auto;
}

input[type="file"]{
  visibility:hidden;
}
.b-color{
  background-color:rgb(10, 65, 67);
}
.bottom-margin{
  margin-bottom: 1rem;
}

.image-preview{
  height: 4rem !important;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
