:host{
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin: auto;
  stroke: #ff2a9f;
}

.post-image{
  width: 100%;
}

.post-image img{
  width: 100%;
  box-shadow: 1px 1px 5px #0a7961;
}
